/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-image);
  background-color: var(--bg-color);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.header {
  position: relative;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  gap: 65px;
  min-height: 668px;
}
.decorated-corner::before,
.decorated-corner::after {
  content: "";
  position: absolute;
  width: 25.04px;
  height: 25px;
  border: 1px solid var(--corner-color);
}
.decorated-corner::before {
  top: 10px;
  right: 10px;
  border-bottom: none;
  border-left: none;
}
.decorated-corner::after {
  bottom: 10px;
  left: 10px;
  border-top: none;
  border-right: none;
}
.decorative-rec {
  position: absolute;
  display: var(--decorative-rec-display);
  top: 10px;
  right: 38px;
  font-family: var(--font-family, "Optima", sans-serif);
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  color: var(--accent-color);
}
.decorative-rec::after {
  content: "";
  width: 9px;
  height: 9px;
  margin-left: 9px;
  margin-right: -18px;
  color: var(--accent-color);
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  position: relative;
  display: inline-block;
}
.header__theme-menu {
  justify-self: end;
  align-items: center;
  margin-top: 75px;
  margin-right: 10px;
}
.header__theme-menu-list {
  gap: 10px;
}
.header__theme-menu-item {
  margin-bottom: 10px;
}
.header__theme-menu-item:last-child {
  margin-bottom: 0px;
}
.header__theme-menu-button {
  all: unset;
  max-width: 70px;
  font-family: var(--font-family), "Gill Sans", "Gill Sans MT", sans-serif;
  color: var(--button-color);
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  padding: 1.5px 13px;
  padding-bottom: 4px;
  text-transform: lowercase;
}
.header__theme-menu-button:default {
  outline: 1px solid var(--button-color);
}
.header__theme-menu-button:hover {
  outline: 1px solid var(--button-color-transparent);
}
.header__theme-menu-button:focus {
  outline: none;
}
.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--button-color);
}
.header__theme-menu-button_active {
  outline: 1px solid var(--button-color);
}
.header_title {
  justify-self: start;
  align-items: center;
  font-family: var(--font-family, sans-serif);
  font-weight: 700;
  font-style: normal;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  letter-spacing: 0px;
  color: var(--title-color);
  margin-left: 10px;
  margin-right: 10px;
  text-shadow: 4px 4px 0 var(--accent-color);
}
.header_description {
  margin-left: 10px;
  margin-right: 10px;
  justify-self: end;
  align-items: center;
  max-width: 355px;
  display: inline;
  font-family: var(--font-family, sans-serif);
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0px;
}
.title-decor {
  background-color: var(--article-bg-color);
  color: var(--article-text-color);
}
main {
  margin-top: 40px;
}
.article {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 50px;
  display: grid;
}
.article:last-child {
  margin-bottom: 40px;
}
.article_title {
  margin-bottom: 20px;
  color: var(--article-title-color);
  font-family: var(--font-family, "Optima", sans-serif);
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0px;
  max-width: 355px;
}
.card {
  margin-bottom: 20px;
}

.card_title {
  margin-bottom: 10px;
  font-family: var(--font-family, "Optima", sans-serif);
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0px;
}
.card_title_weight {
  margin-bottom: 10px;
  font-family: var(--font-family, "Optima", sans-serif);
  font-style: normal;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0px;
  font-weight: 400;
}
.card_text {
  color: var(--text-color);
  font-family: var(--font-family, "Noto Sans", sans-serif);
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0px;
}
.text_link {
  text-decoration: none;
  cursor: pointer;
  text-shadow: 2px 2px 0 var(--accent-color);
}
.text_link:hover {
  text-decoration: underline;
}
.text_link:focus {
  outline: none;
  text-decoration: none;
}
.text_link:focus-visible {
  border: 1px solid var(--link-color);
}
.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 668px;
  height: 100vh;
}
.footer_content {
  text-align: center;
}
.footer_content span {
  font-family: var(--font-family, "Arial Narrow", sans-serif);
  font-weight: 700;
  font-style: normal;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  letter-spacing: 0px;
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  .decorated-corner::before {
    top: 20px;
    right: 20px;
  }
  .decorated-corner::after {
    bottom: 20px;
    left: 20px;
  }
  .decorative-rec {
    top: 20px;
    right: 48px;
  }
  .header {
    gap: 162px;
  }
  .header__theme-menu {
    margin-top: 192px;
  }
  .header__theme-menu-list {
    margin-right: 10px;
  }
  .header_title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-left: 0px;
    margin-right: 0px;
  }
  .header_description {
    margin-right: 20px;
  }
  .content {
    margin-top: 60px;
  }
  .article:last-child {
    margin-bottom: 60px;
  }
  .article {
    margin-bottom: 80px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .article-row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, auto);
  }
  .article-row ul {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: span 1;
  }
  .article-column {
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }
  .article-row .article_title {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: span 1;
    margin-top: -50px;
  }
  .article-row .card_title {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: span 1;
    margin-bottom: 20px;
  }
  .gallery {
    display: grid;
    margin-top: 10px;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
  }
  .item-1 {
    grid-column-start: 1;
    grid-column-end: span 2;
  }
  .item-2 {
    grid-row-start: 1;
    grid-row-end: span 2;
    grid-column-start: 3;
    grid-column-end: 3;
  }
  .item-3 {
    grid-row-start: 2;
    grid-row-end: span 2;
    grid-column-start: 1;
    grid-column-end: 1;
  }
  .item-5 {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: span 2;
  }
  .footer_content span {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
@media (width >= 1024px) {
  .decorated-corner::before {
    top: 20px;
    right: 20px;
  }
  .decorated-corner::after {
    bottom: 20px;
    left: 20px;
  }
  .decorative-rec {
    top: 20px;
    right: 48px;
  }
  .header {
    gap: 114px;
  }
  .header_title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  .header_description {
    max-width: 491px;
  }
  .header__theme-menu {
    justify-self: center;
    margin-top: 20px;
  }
  .header__theme-menu-list {
    display: flex;
  }
  .content {
    margin-top: 60px;
  }
  .article:last-child {
    margin-bottom: 60px;
  }
  .article {
    margin-bottom: 80px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .article-column {
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }
  .article_title {
    max-width: 315px;
  }
  .article-row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, auto);
  }
  .article-row ul {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: span 1;
  }
  .article-row .article_title {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: span 1;
    margin-top: -50px;
  }
  .article-row .card_title {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: span 1;
    margin-bottom: 20px;
  }
  .card_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }

  .gallery {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
  }
  .item-1 {
    grid-column-start: 1;
    grid-column-end: span 2;
  }
  .item-2 {
    grid-row-start: 1;
    grid-row-end: span 2;
    grid-column-start: 3;
    grid-column-end: 3;
  }
  .item-3 {
    grid-row-start: 2;
    grid-row-end: span 2;
    grid-column-start: 1;
    grid-column-end: 1;
  }
  .item-5 {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: span 2;
  }
}
